<div class="container border border-3 mt-3 p-3">
    <div class="row my-3">
        <div class="col-12">
            <div class=" py-3 text-center">
                <h3>Template Form with validation</h3>
            </div>
            <hr>
        </div>
    </div>
    <form class="row g-3" #form ='ngForm'>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">first Name</label>
            <input type="text" name="fname" class="form-control" #fname="ngModel" [(ngModel)]="studentObj.firstName"
                id="inputEmail4" required minlength="3">
            <div class="text-danger">
                @if( (fname.touched ||  fname.dirty) && fname.errors?.['required']){
                <span>{{validationMsg.REQUIRED}}</span>
                } @else if ((fname.touched ||  fname.dirty) &&  fname.errors?.['minlength']) {
                <span>{{validationMsg.MIN_LENGTH}}</span>
                }


            </div>
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Last Name</label>
            <input type="text" name="lname" class="form-control" [(ngModel)]="studentObj.lastName" id="inputPassword4">
        </div>
        <div class="col-6">
            <label for="inputAddress" class="form-label">Address</label>
            <input type="text" name="address" class="form-control" id="inputAddress" [(ngModel)]="studentObj.address"
                placeholder="1234 Main St">
        </div>

        <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" name="city" class="form-control" #city="ngModel" [(ngModel)]="studentObj.city" id="inputCity" required>
             <div class="text-danger">
                @if( (city.touched ||  city.dirty) && city.errors?.['required']){
                <span>{{validationMsg.REQUIRED}}</span>
                }
            </div>
        </div>

        <div class="col-md-2">
            <label for="inputZip" class="form-label">Zip</label>
            <input type="text" name="zip" class="form-control" [(ngModel)]="studentObj.zip" id="inputZip">
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" name="accept" type="checkbox" id="gridCheck"
                    [(ngModel)]="studentObj.isAcceptTerm">
                <label class="form-check-label" for="gridCheck">
                    Agree to terms and conditions
                </label>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary mx-2" [disabled]="form.invalid" (click)="saveForm()">Save</button>
            <button type="submit" class="btn btn-secondary" (click)="resetForm()">Reset</button>
        </div>
    </form>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div>
                {{formValue | json}}
            </div>
        </div>
    </div>
</div>