<h3>Structural Directive</h3>
<ul>
    <li>*ngIf</li>
    <li>*ngFor</li>
    <li>*ngSwitch</li>
</ul>
<hr>
<!-- *NgIf -->
<h2>NgIf</h2>
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-3">
            <div *ngIf="isDivVisible1" class="bg-info p-4">
                <h2>Div 1</h2>
            </div>
        </div>
        <div class="col-3">
            <div *ngIf="toggleDiv2" class="bg-success p-4">
                <h2>Div 2</h2>
            </div>
        </div>
        <div class="col-3">
            <div *ngIf="num1 == num2" class="bg-primary p-4">
                <h2>Div 3</h2>
            </div>
        </div>
        <div class="col-3">
            <div *ngIf="active" class="bg-danger p-4">
                <h2>Div 4</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <button type="button" class="btn btn-primary" (click)="hideDiv1()">Hide</button>
            <button type="button" class="btn btn-danger" (click)="showDiv2()">Show</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" (click)="toggle()">Toggle</button>
        </div>
        <div class="col-3">
            <input type="text" name="" id="" [(ngModel)]="num1">
            <input type="text" name="" id="" [(ngModel)]="num2">
        </div>
        <div class="col-3">
            <input type="checkbox" name="" id="" [(ngModel)]="active">
        </div>
    </div>
</div>
<!-- *NgIf -->
<hr>
<!-- *NgFor -->

<div class="container-fluid">
    <h2>NgFor</h2>
    <div class="row">
        <div class="col-3">
            <p *ngFor="let list of city">{{list}}</p>

        </div>
        <div class="col-3">
            <span *ngFor="let list of city">{{list}}</span>
        </div>
        <div class="col-3">
            <select>
                <option *ngFor="let items of city">{{items}}</option>
            </select>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" *ngFor="let btn of city">{{btn}}</button>
        </div>

    </div>
    <div class="row">
        <div class="col-6">
            <table class="table table-bordered">
                <tr>
                    <td>Sr No</td>
                    <th>Roll No</th>
                </tr>
                <tr *ngFor="let num of rollNo ; let srNo = index">
                    <td>{{srNo+1}}</td>
                    <td>{{num}}</td>
                </tr>
            </table>
        </div>
        <div class="col-6">
            <table class="table table-bordered">
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>City</th>
                    <th>Active</th>
                </tr>
                <tr *ngFor="let details of studentDetails ; let srNo = index">
                    <td>{{srNo+1}}</td>
                    <td>{{details.name}}</td>
                    <td>{{details.age}}</td>
                    <td>{{details.city}}</td>
                    <td>{{details.isActive ? 'Yes' :'No' }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- *NgFor -->

<!-- *ngSwitch -->
<div class="container">
    <div class="row">
        <div class="col-6">
            <div [ngSwitch]="day">
                <p class="bg-warning" *ngSwitchCase="'Monday'">Start of the week</p>
                <p  class="bg-warning" *ngSwitchCase="'Friday'">Almost Weekend!</p>
                <p  class="bg-warning" *ngSwitchCase="'Sunday'">Relax..1 its sunday..</p>
                <p  class="bg-warning" *ngSwitchDefault>Just another day</p>
            </div>
        </div>
    </div>
</div>
<!-- *ngSwitch -->