<button type="button" class="btn btn-primary" (click)="getAllDetails()">Get data</button>

<div class="container-fluid">
    <div class="row">
        <div class="col-7">
            <table class="table table-bordered">
                <tr>
                    <th>Sr No</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let list of postList; let sr = index">
                    <td>{{sr+1}}</td>
                    <td>{{list.title}}</td>
                    <td>{{list.body}}</td>
                    <td class="d-flex">
                        <button type="button" class="btn btn-info" (click)="editData(list)">Edit</button>
                         <button type="button" class="btn btn-danger" (click)="deleteRecord(list.id)">Del</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-5">
            <form action="">
                <div class="row p-3">
                    <div class="col-12">
                        <label for="">Title</label>
                        <input type="text" name="title" id="" class="form-control" [(ngModel)]="postObj.title">
                    </div>
                     <div class="col-12">
                        <label for="">Description</label>
                        <textarea name="des" class="form-control"  [(ngModel)]="postObj.body"></textarea>
                    </div>
                    <div class="col-12 mt-3">
                        <button type="button" class="btn btn-success mx-3" *ngIf="postObj.id == 0 " (click)="savePostData()">Save - {{postObj.id }}</button>
                        <app-btn [btnClass]="'btn btn-success mx-3'" [btnText]="'Save'"></app-btn>
                        <button type="button" class="btn btn-primary mx-3" *ngIf="postObj.id !== 0 " (click)="updateData()">Update - {{postObj.id }}</button>
                         <button type="button" class="btn btn-secondary" (click)="reset()">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <app-table [columnData]="headingArray" [tableData]="postList" (edit)="editData($event)" (delete)="deleteRecord($event)"></app-table>
        </div>
    </div>
</div>